<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Connect.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>222178EB62DBE93C609B366779CD3E848E194393</string>
				<key>dateExpires</key>
				<string>07.08.20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NA7S4CXJZ2.apov.Connect-</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NA7S4CXJZ2</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>NA7S4CXJZ2.apov.Connect-</string>
				</array>
			</dict>
			<key>name</key>
			<string>Connect.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d5e88827-9aaa-47d8-8bd0-bd698272ddbe</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: apov.Connect-</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NA7S4CXJZ2</string>
				<key>name</key>
				<string>Ty Yiu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
